# GET FROM HERE -  https://developers.google.com/custom-search/v1/introduction#identify_your_application_to_google_with_api_key
NEXT_PUBLIC_API_KEY="AIzaSyBsKOMuhVOZsZ_-2WkX5c61y91i9Hl9CPE"
# GET FROM HERE - https://cse.google.com/cse/create/new
NEXT_PUBLIC_CONTEXT_KEY="6726a2f49bf3e49c8"
